/* .Control-Buttons {
  margin: 3rem 0;
  width: 80%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .btn-grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 98px;
  height: 40px;
  margin: 0px 20px;
  display: flex;
  border: 2px solid #ff5f00;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  float: right;
}

.btn-one {
  background-color: #ff5f00;
}
